body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}

.grid {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}