body {
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  &.title {
    flex: 1;
  }
  &.table-link {
    color: #66bb6a;
    transition: .5s;
    &:hover {
      transition: .5s;
      color: white;
    }
  }
}

h1 {
  margin-top: 0;
}

table tr {
  &.head {
    background-color: initial;
  }
  &:nth-of-type(odd):not(.head) {
    background-color: #333;
  }
}

.grid {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.character-image {
  max-width: 100%;
  @media screen and (max-width: 600px) {
    display: block;
    margin: 0 auto;
  }
}

.character-attr {
  font-weight: bold;
  text-transform: capitalize;
  min-width: 15%;
  display: inline-block;
}

.image-card-link {
  &:hover {
    .image-card-text {
      transition: .5s;
      color: #66bb6a;
    }
  }
}

.image-card-text {
  transition: .5s;
  color: white;
}